@mixin title {
  font-size: large;
}

@mixin input-field {
  background-color: #f0f0f0;
  padding: 14px 20px;
  border: none;
  outline: none;
  width: 100%;
}

.container5 {
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

.container44 {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  margin-left: 50px;
}

.title6 {
  @include header;
}

.title-name,
.title-mail,
.title-message {
  @include title;
  text-align: start;
}

.input-field1,
.input-field2,
.input-field3 {
  @include input-field;
  display: flex;
}

.card5 {
  @include card;
  height: 35rem;
  width: 30rem;
}

.submit-btn {
  @include btn;
  width: 20%;
}
