.title5 {
  @include header;
  right: 38%;
  top: 15%;
}

.card4 {
  @include card;
  height: 12rem;
  width: 14rem;
  margin-top: 25%;
  margin-left: 5.5%;
  margin-bottom: 13%;

  & .project {
    margin-top: 2.5rem;
  }
}
