.navbar {
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  padding: 18px 16px;
  position: fixed;
  width: 100%;
  z-index: 99;

  & #home {
    color: #ff2c2c;
  }
}
