.container2 {
  display: grid;
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1250px;
  padding-top: 150px;
}

.container33 {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.card2 {
  @include card;
  height: 35rem;
  width: 30rem;
}

.title3 {
  @include header;
}

.info-me {
  font-size: small;
  text-align: justify;
  line-height: 2.5;
}

.download-btn {
  @include btn;
  margin: auto;
  width: 25%;
}
